.Title{
    margin-top: 50px;
}
#logo path:nth-child(1){
    stroke-dasharray: 635px;
    stroke-dashoffset: 635px;
    animation: line-animation 2s ease forwards;
}
#logo path:nth-child(2){
    stroke-dasharray: 226px;
    stroke-dashoffset: 226px;
    animation: line-animation 2s ease forwards 0.3s;

}
#logo path:nth-child(3){
    stroke-dasharray: 336px;
    stroke-dashoffset: 336px;
    animation: line-animation 2s ease forwards 0.5s;

}#logo path:nth-child(4){
    stroke-dasharray: 534px;
    stroke-dashoffset: 534px;
    animation: line-animation 2s ease forwards 0.6s;

}
#logo path:nth-child(5){
    stroke-dasharray: 483px;
    stroke-dashoffset: 483px;
    animation: line-animation 2s ease forwards 0.3s;

}
#logo path:nth-child(6){
    stroke-dasharray: 610px;
    stroke-dashoffset: 610px;
    animation: line-animation 2s ease forwards 0.5s;

}
#logo path:nth-child(7){
    stroke-dasharray: 490px;
    stroke-dashoffset: 490px;
    animation: line-animation 2s ease forwards 0.6s;

}
#logo path:nth-child(8){
    stroke-dasharray: 449px;
    stroke-dashoffset: 449px;
    animation: line-animation 2s ease forwards 0.3s;

}
#logo path:nth-child(9){
    stroke-dasharray: 226px;
    stroke-dashoffset: 226px;
    animation: line-animation 2s ease forwards 0.1s;

}

@keyframes line-animation {
    to{
        stroke-dashoffset: 0;
    }
}
