.App{
    // background-color: #212429;    
    background-image: url('https://decimalchain.com/_nuxt/img/final_background.bedbbe2.jpg');
    background-attachment:scroll;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    overflow-x: hidden; 
}